/* Mobile Styles */
.main-header {
  display: flex;
  padding: 2em;
  height: 520px;
  color: white;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #9e006c;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}


/* Responsive design for Desktop*/
@media screen and (min-width: 1024px) {
  .main-header {
    width: 40%;
    margin: 300px 4em;
  }
}