header {
  display: flex;
  height: 520px;
  color: white;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-color-red;
  background-color: #9e006c;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}