nav {
  width: 100%;
  display: flex;
  color: #FFFFFF;
  height: 0;
}

.rightNav {

  display: flex;
  margin-right: 1.5em;
  margin-left: auto;
  margin-top: 50px;
  font-size: x-large;
}

#ddarrow {
  color: red;
  display: flex;
  justify-content: center;

}

nav>span {
  font-family: 'Bungee', cursive, sans-serif;
  display: flex;
  margin-left: 1.5em;
  margin-top: 50px;
  font-size: xx-large;
}

/*Desktop*/
@media screen and (min-width: 1024px) {
  nav {
    height: 120px;
    background-color: #4056A1;
    position: fixed;
  }
}